@use "../abstracts" as *;

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme=light]) {
        --background-color: #422d5d;
        --primary: #decff1;
        --color: #decff1;
        --h1-color: #decff1;
        --font-family: 'Work Sans', sans-serif;
        
        h1, h2, h3, h4, h5, h6 {
            --font-family: 'VT323', monospace;
        }                
    }
}