// font-family: 'VT323', monospace;
// font-family: 'Work Sans', sans-serif;
$headings-family: 'VT323';
$headings-fallbacks: 'Courier New', monospace, sans-serif;
$body-family: 'Work Sans';
$body-fallbacks: 'Trebuchet MS', Arial, sans-serif;