@use '../abstracts' as abs;
@use '../base/typography' as t;

header {
    nav {
        .navbar-brand {
            a {
                @include abs.font_family(t.$headings-family, t.$headings-fallbacks);

                svg {
                    width: 50px;
                    height: auto;
                    margin-right: 12px;                    

                    path {
                        transition: color 350ms ease;
                    }
                }
            }
        }
    }   
}