@use '../abstracts' as abs;

.card {
    height: 100%;

    &.login-card {
        background-color: #745e90;
    }

    .content {
        color: abs.$bg_color;

        h2 {
            color: abs.$bg_color;
        }
    }
}