@use '../abstracts' as abs;

.hero {
    .hero-body {
        position: relative;

        h1 {
            letter-spacing: 1px;
        }

        img.hero-img {
            display: none;
            position: absolute;
            right: 50px;
            bottom: 250px;
        }

        @include abs.breakpoint(770) {
            img.hero-img {
                display: block;
            }
        }
    }
}