.hero {
    .hero-body {
        position: relative;

        h1 {
            letter-spacing: 1px;
        }

        img.hero-img {
            position: absolute;
            right: 50px;
            bottom: 250px;
        }
    }
}